.projects{
    margin: 16rem 4rem 7rem 4rem;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 24vh;
    align-items: center;
}

.projects h3{
    font-family: "Audiowide", sans-serif;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.projects-area{
    width: 80vw;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
}

.projects-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 30%;
    background-color: rgb(247, 229, 191);
    border-radius: 1.5rem;
    box-shadow: 8px 8px 10px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.projects-card:hover{
    transform: scale(1.02);
}

.projects-card img{
    width: 100%;
    transition: all .5s ease;
    border: 1px solid black;
    border-radius: 0.8rem;
}

.projects-card img:hover{
    filter: contrast(1.1)
}

.projects-card h4{
    font-size: 2rem;
}

.projects-card p{
    font-weight: 500;
    margin-right: 1rem;
    margin-left: 1rem;
}

.visit-button{
    cursor: pointer;
    background-color: rgb(255, 168, 87);
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.visit-button:hover{
    filter: contrast(2);
    transform: scale(1.05);
}